__pycache__/
*.py[cod]

*.log
*.sqlite3
db.sqlite3
/static/
/media/
*.pyc
*.pyo

venv/
env/
*.env
.venv/
env.bak/
venv.bak/

*/migrations/

.cache/
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

.mypy_cache/

.vscode/

.idea/


docker-compose.override.yml
Dockerfile*

node_modules/
npm-debug.log

Pipfile.lock

*.spec

cython_debug/

*.env

.DS_Store
Thumbs.db